<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Loupay_Service.Properties.Settings.LOUPAYDBConnectionString1"
            connectionString="Data Source=VUTHANHDUONG\D_DB_2012;Initial Catalog=LOUPAYDB;User ID=sa;Password=09122002"
            providerName="System.Data.SqlClient" />
        <add name="Loupay_Service.Properties.Settings.LOUPAYConnectionString"
            connectionString="Data Source=VUTHANHDUONG\D_DB_2012;Initial Catalog=LOUPAY;User ID=sa;Password=09122002"
            providerName="System.Data.SqlClient" />
        <add name="Loupay_Service.Properties.Settings.LOUPAYConnectionString1"
            connectionString="Data Source=VUTHANHDUONG\D_DB_2012;Initial Catalog=LOUPAY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Loupay_Service.Properties.Settings.LOUPAYConnectionString2"
            connectionString="Data Source=DESKTOP-285MR5G\PHAMHAIDANG;Initial Catalog=LOUPAY;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="Loupay_Service.Properties.Settings.LOUPAYConnectionString3"
            connectionString="Data Source=DESKTOP-285MR5G\PHAMHAIDANG;Initial Catalog=LOUPAY;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>